* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  padding: 30px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 15px;
  font-weight: 500;
}

/* FORM GRID */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  background: #667eea;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #5a67d8;
}

/* LIST */
.list {
  list-style: none;
}

.list li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* warna type */
.income {
  color: #2ecc71;
}

.expense {
  color: #e74c3c;
}

/* toast */
#toastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    min-width: 250px;
    padding: 15px 20px;
    border-radius: 8px;

    color: white;
    font-weight: bold;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    animation: fadeIn 0.3s ease;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}